{% extends "base.html" %}
{% block content %}

<h2 class="text-center mb-4">My Bookings</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Service</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.service.title }}</td>
            <td>{{ booking.status }}</td>
            <td>{{ booking.booking_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}