{% extends "base.html" %}
{% block content %}

<h2>Provider Dashboard</h2>

<table class="table table-dark">
    <tr>
        <th>Service</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for booking in bookings %}
    <tr>
        <td>{{ booking.service.title }}</td>
        <td>{{ booking.customer.username }}</td>
        <td>{{ booking.status }}</td>
        <td>
            <a href="/dashboard/update/{{ booking.id }}/Accepted/" class="btn btn-success btn-sm">Accept</a>
            <a href="/dashboard/update/{{ booking.id }}/Rejected/" class="btn btn-danger btn-sm">Reject</a>
            <a href="{% url 'checkout' booking.id %}">
    <button style="padding:10px 20px; background-color:green; color:white; border:none; border-radius:5px;">
        Pay Now
    </button>
</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}